body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgray;
}

.cards{
  width: 100%;
  height: auto;
  
}

.card{
width: 20.21%;
float: left;
margin: 6%;
border: 1px solid #feeffe;
background: linear-gradient(360deg,red,pink,skyblue);
border-radius: 12px;

 
}
.card_img{
 width: 100%;
 height: 300px;
 border-top-left-radius:12px;
 border-top-right-radius:12px;

}

.card__info{
padding: 16px 24px 24px 24px;
 
}

h1{
  background-color: #FFFFFF;
  color: #868686;
  text-align: center;

  text-transform: uppercase;
   margin: 0;
   padding: 30px 0;
   letter-spacing: 5px;
   box-shadow: 2px 1px 10px 1px #000;
}

.btnc{
  background-color: chartreuse;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
  transition: .5s;
  cursor: pointer;

}

.btnc:hover{
   background-color: cornflowerblue;
   transition: .5s;
   border-radius: 5px;
}

.Movie{
  color: #fff;
}

.Name{
  color:#fff;
}

@media only screen and (max-width: 600px){
  .card{
    width: 80%;
    float: left;
    margin: 10%;
    border: 1px solid #feeffe;
    background: linear-gradient(360deg,red,pink,skyblue);
    border-radius: 12px;
    
     
    }
    .card__info{
      padding: 16px 24px 24px 24px;
       
      }
      .card_img{
        width: 100%;
        height: 300px;
        border-top-left-radius:12px;
        border-top-right-radius:12px;
       
       }
       .cards{
        width: 100%;
        height: auto;
        
      }
}

.slot_m{
  background-color: darkseagreen;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin:auto;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}
